{% extends 'base.html' %}

{% block content %}
<h1 class="center">Poll Questions</h1>
<br>
{% if latest_question_list %}
{% for question in latest_question_list %}
<h1>{{question.question_text}}</h1><br>
<a style="background: green;padding:10px 15px;color:white;" href="{% url 'polls:detail' question.id %}">Vote Now</a>
<a style="background:rgb(149, 0, 255);padding:10px 15px;color:white;" href="{% url 'polls:results' question.id %}">Results</a>
<br>
<br>
<br>
<br>
<hr>
{% endfor %}
{% else %}
<h1>No polls available</h1>
{% endif %}
{% endblock %}